.detail__image {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.detail__image-clicker {
    width: 40vw;
    height: 100%;
    border: 1px dashed yellow;
}

.detail__image-hidden {
    visibility: hidden;
    height: 0;
    width: 0;
}