<kc-headline class="detail__headline" [heading]="category" [subHeading]="pageInfo" (back)="onBack()">
  <kc-bells></kc-bells>
  <span class="button" (click)="onPrev()">&lArr;</span><span class="button" (click)="onNext()">&rArr;</span>
</kc-headline>

<div class="detail__view">
  <kc-image *ngIf="assetType === 'image'" [image]="imageUrlStyle"></kc-image>
  <kc-pdf *ngIf="assetType === 'pdf'" [src]="documentUrlResource"></kc-pdf>
  <kc-video *ngIf="assetType === 'video'" [src]="documentUrlResource"></kc-video>
</div>

<div class="detail__description-container">
  <p class="detail__description">
    {{imageDescription}}
  </p>
  <span class="detail__filename">
    {{src}}
  </span>
</div>