.detail__headline {
    height: 5vh;
}

.detail__view {
    display: block;
    height: 86vh;
    position: relative;
}

.detail__description-container {
    position: relative;
    height: 9vh;
    padding: .5em .5em;
}

.detail__description {
    text-align: center;
}

.detail__filename {
    position: absolute;
    font-family: monospace;
    right: 0;
    bottom: 0;
    color: #555;
    font-size: .8em;
    padding: 0 5px 3px 0;
}

.button {
    margin-left: 2em;
    font-size: xx-large;
    cursor: pointer;
}