:host {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #222;
}

.back {
    cursor: pointer;
    flex-grow: 0;
}

.heading {
    flex-grow: 0;
}

.sub-heading {
    color: gray;
    font-size: 1em;
    flex-grow: 0;
    margin-left: 2.5em;
}

.spacer {
    flex-grow: 1;
}