<h1>Bilderchronik über die Kirchengemeinde St-Veit Altenthann</h1>
<div class="container">
  <div>
    <p>mit Fotos von Hildegard Abraham, Werner Eckstein und Anderen.</p>
  
    <p>
      Zusammenstellung: Liselotte Eckstein
      <br> Technische Umsetzung: Markus Eckstein
    </p>
  
    <p>
      März 2018
    </p>
    
  </div>
  <kc-bells class="bells"></kc-bells>
</div>

<div class="container">
  <ul>
    <li class="category" *ngFor="let cat of categories">
      <a [routerLink]="['/overview', cat]" skipLocationChange>{{cat}}</a>
    </li>
  </ul>
  <div class="st-veit">
    <img alt="St-Veit Altenthann" src="assets/st-veit-image.jpg">
  </div>

</div>