<div>
  <h1>Bilderchronik über die Kirchengemeinde St-Veit Altenthann</h1>
  <p>mit Fotos von Hildegard Abraham, Werner Eckstein und Anderen.</p>

  <p>
    Zusamenstellung: Liselotte Eckstein
    <br> Technische Umsetzung: Markus Eckstein
  </p>

  <p>
    Februar 2018
  </p>
</div>


<div class="container">
  <ul>
    <li class="category" *ngFor="let cat of categories">
      <a [routerLink]="['/overview', cat]" skipLocationChange>{{cat}}</a>
    </li>
  </ul>
  <div class="st-veit">
    <img alt="St-Veit Altenthann" src="assets/st-veit-image.jpg">
  </div>

</div>