:host {
    padding: 2em;
    display: block;
}

.container {
    display: flex;
}

.st-veit {
    width: 25vw;
    img {
        width: 100%;
        max-width: 480px;
    }
}

.bells {
    height: 100px;
}

.category {
    padding-bottom: 1em;
    & a {
        color: #eee;
        text-decoration: none;
    }
}

ul {
    list-style: none;
    margin-right: 5vw;
}

@media (min-width: 1800px) {
    :host {
        font-size: 1.65em;
    }
}